JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-modules-tests:latest}
MODULE_ID=${MODULE_ID:-sitemap}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://jahia.dev.sandbox.jahia.com:8080}
JAHIA_PROCESSING_URL=${JAHIA_PROCESSING_URL:-http://jahia.dev.sandbox.jahia.com:8080}
JAHIA_CLUSTER_ENABLED=${JAHIA_CLUSTER_ENABLED:-false}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
JAHIA_CONTEXT=
JAHIA_USERNAME=root
JAHIA_PASSWORD=root1234
