JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-private:snapshot-dev}
TESTS_IMAGE=${TESTS_IMAGE:-modules-tests:latest}
MODULE_ID=${MODULE_ID:-sitemap}
MANIFEST=${MANIFEST:-warmup-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://jahia:8080}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
