name: Nightly (Jahia Snapshot)

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  integration-tests-standalone:
    name: Integration Tests (Standalone - Snapshot)
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    secrets: inherit
    with:
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
      module_id: sitemap
      testrail_project: Sitemap Module
      pagerduty_incident_service: sitemap-JahiaSN
      provisioning_manifest: provisioning-manifest-snapshot-8.2.yml
      artifact_prefix: sitemap-standalone-sn
      module_branch: ${{ github.ref }}
