name: Nightly Test run (Cluster)

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 1 * * *'

jobs:
  integration-tests-cluster:
    name: Integration Tests (Standalone - Release)
#    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@support-custom-docker-compose-file-BACKUP-with-temp-change
    secrets: inherit
    with:
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
      module_id: sitemap
      testrail_project: Sitemap Module
      pagerduty_incident_service: sitemap-cluster-JahiaSN
      docker_compose_file: docker-compose-cluster.yml
      provisioning_manifest: provisioning-manifest-snapshot-8.2.yml
      artifact_prefix: sitemap-cluster-sn
      module_branch: ${{ github.ref }}
